.carousel {
  position: relative;
  width: 100%;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.carouselImage.active {
  opacity: 1;
  z-index: 2;
}

.carouselArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
}

.carouselArrow.left {
  left: 10px;
}

.carouselArrow.right {
  right: 10px;
}

.carouselCounter {
  display: none;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  z-index: 5;
}

@media screen and (min-width: 900px) {
  .carouselCounter {
    display: block;
  }
}