.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    padding-top: 75px;
    padding-bottom: 60px;

    background-color: black;
    color: white;
  }

.footer h3 {
  font-size: 12px;
  font-weight: 500;
  max-width: 100px;
}

.logoFooter {
    height: 39px;
}