@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 47px;
}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.header .linksHeader {
    display: flex;
    max-width: 191px;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    font-weight: 550;
    padding-left: 20px;
}

.header .linksHeader a {
    white-space: nowrap;
  }

@media screen and (min-width: 900px) {

  .logo {
    height: 68px;
  }
}
