body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}

a {
  color: black;
  text-decoration: inherit;
}

.content {
  background-color: greenyellow;
  color: red;
  
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#root {
  display: flex;
  flex-direction: column;
}