.infoPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.infoBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  filter: brightness(70%);
}

.infoBanner {
  height: 110px;
  width: calc(100% - 40px);
  margin: 0 20px;
  margin-bottom: 20px;
  position: relative;
}

.accordionInfo {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 900px) {
  .infoPage {
    margin-bottom: 20px;
  }
  .infoBanner {
    height: 220px;
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    padding-top: 20px;
    position: relative;
  }

  .infoBackground {
    border-radius: 25px;
  }

  .accordionInfo {
    margin-left: 200px;
    margin-right: 200px;
  }
}