.logementPage {
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 0px;
  text-align: left;
  flex-grow: 1;
}

.logementImage {
  width: 100%;
  object-fit: cover;
  height: 255px;
  border-radius: 10px;
}

.logementHeader {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 10px;
}

.housingInfo {
  min-width: 300px;
}

.housingTitle {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
}

.housingLocation {
  margin: 5px 0;
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

.housingTags {
  margin-top: 10px;
}

.housingTag {
  background-color: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 10px;
  min-width: 60px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.hostSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.rating {
  display: flex;
  gap: 5px;
  font-size: 20px;
  font-weight: 600;
}

.star {
  color: #e3e3e3;
}

.star.filled {
  color: #ff6060;
}

.hostInfo {
  display: flex;
  align-items: center;
  color: #ff6060;
  gap: 10px;
}

.hostName {
  text-align: right;
  font-size: 12px;
  max-width: 80px;
  margin: 0;
}

.hostPicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.logementPage .accordionSection {
  margin-top: 5px;
}

.accordionList {
  margin: 0;
}

/* Responsive */
@media screen and (min-width: 900px) {
  .logementPage {
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 30px;
  }

  .carousel {
    height: 415px;
  }

  .logementHeader {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .housingTitle {
    font-size: 36px;
  }

  .housingLocation {
    font-size: 18px;
  }

  .housingTags {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .housingTag {
    font-size: 14px;
    border-radius: 12px;
    min-width: 80px;
  }

  .hostSection {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 0px;
  }

  .hostInfo {
    gap: 15px;
  }

  .hostName {
    font-size: 18px;
  }

  .hostPicture {
    width: 64px;
    height: 64px;
  }

  .rating {
    font-size: 35px;
  }
  .accordionSection.horizontal {
    flex-direction: row;
    gap: 75px;
  }
}
