.housingGridWrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.housingGridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.housingCard {
  background-color: #ff6060;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 255px;
  position: relative; /* ajouté pour tous les écrans */
}

.housingCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.housingCardTitle {
  color: white;
  position: absolute;
  text-align: left;
  margin: 0;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
}

.housingCardLink {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {
  .housingGridWrapper {
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    margin-bottom: 50px;
    background-color: #f6f6f6;
  }

  .housingGridContainer {
    grid-template-columns: repeat(3, 1fr);
    margin: 40px;
    padding-bottom: 0;
    column-gap: 50px;
    row-gap: 50px;
  }

  .housingCard {
    aspect-ratio: 1 / 1;
    height: unset;
    max-width: 100%;
    position: relative;
  }
}
